@page "/"

<h1>theme name:punjabiCulture</h1>
<h2>created by gurbinderjeet kaur</h2>
<h3>Current date and time is: @DateTime.Now</h3>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



