@page "/punjabiCulture"

@code{
    string[] items = new string[]{
        "dress","food","festivals","religion","history"
    };
    private int data = 0;
    private void newData(int newData){
        data=newData;
    }
}
@foreach(var culture in items){
    <p> @culture</p>
}
<input type="number" value="5"/>
